/**
 * Main
 */

.main {
  &__inner {
    width: min(100%, 900px);
    margin: 0 auto;
    padding: space("medium") clamp(0.75rem, 2%, 1.125rem);
  }

  &__title {
    &::after {
      content: "✶";
      color: theme-color("secondary");
      font-size: 1.25em;
      margin-inline-start: space("x-small");
    }

    & > span {
      font-family: "Cormorant Garamond", serif;
    }
  }

  &__heading {
    &::before {
      content: "✶";
      margin-inline: space("x-small");
      color: var(--color--primary--active);
      font-size: 1.5em;
      vertical-align: -0.125em;
    }
  }

  &__list {
    list-style-type: none;
    margin: space("medium") 0;
    padding: 0;
  }

  &__listItem {
    position: relative;
    padding-inline-start: space("large");
    padding-inline-end: space("medium");
    color: theme-color("dark");
    font-size: 0.875rem;
    text-align: justify;
    letter-spacing: var(--heading-letter-spacing);

    &::before {
      content: "―";
      position: absolute;
      top: 0;
      left: space("small");
      color: theme-color("secondary");
      font-weight: 700;
    }
  }

  &__button {
    @include button();
  }
}
