// Variables

$colors:    (
  primary:         #209fdf, // hsl(200, 75%, 50%)
  secondary:       #ffc080, // hsl(30, 100%, 75%)
  tertiary:        #9fdf20  // hsl(80, 75%, 50%)
);

$button-gradient-enabled:  true;
$button-transform-enabled: false;
